.search-bar input {
    width: 508.94px;
}

.sss  {
    display: flex;
    justify-content: space-between;
}
.slider-bg{
    background-color: #fceae8;
}

.subscribe{
    height: 300px;
    background-color: #fceae8;

}

.inp input {
    max-width: 550px;
}

.product {
    background-color: #F4F4F4;
}
